name: benchmarks

on:
  workflow_call: {}
  workflow_dispatch: {}

jobs:
  benchmarks:
    name: "Benchmarks"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: projectdiscovery/actions/setup/go@v1
      - run: make bench
        env:
          GOMAXPROCS: 2
      - run: make -C benchdata/
